{
	"presets": [
		["env", {
			"debug": true,
			"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		"dynamic-import-webpack",
		"transform-object-rest-spread",
		"transform-class-properties"
	]
}
